<!doctype html>
<html ng-app="storiesApp">
<head>
  <title>A Story</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="cyoa.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container-fluid" ng-controller="PlayController">
    <!-- Navbar -->
    <ul class="nav nav-tabs" id="storyTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" href="file.html">File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="visualize.html">Visualize</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="build.html">Build</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Play</a>
      </li>
    </ul>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-4 text-center ">
        <br>
        <div ng-cloak class="card">
          <div class="card-body">
            <p class="pb-2" id="text">{{node.text ? node.text : node.label}}</p>
            <p ng-repeat="condText in node.conditionalText | filter:filterText">
              {{condText.text}}
            </p>
            <p ng-repeat="opt in options | filter:filterOptions">
              <button ng-click="selectEdge(opt)" class="btn btn-primary btn-block">
                {{opt.label}}
              </button>
            </p>
            <p ng-if="options.length === 0">
              <button ng-click="play()" class="btn btn-primary btn-block">
                Restart
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="cyoa-play.js"></script>
</body>
</html>
